<br>
<h1 style="margin-left: 20px;">Feature Selection</h1>
<!-- <div fxLayout="row" fxLayoutAlign="center center" class="bottom-btn"  fxLayoutGap="20px">
 
    <div>
       
        <button  mat-raised-button color="primary" (click)="logisticRegression('logistic')">Logistic Regression</button>
    </div>
    <div>
       
        <button  mat-raised-button color="primary" (click)="logisticRegression('pls')">PLS</button>
    </div>
    <div>
       
        <button  mat-raised-button color="primary" (click)="logisticRegression('random')">Random Forest</button>
    </div>
    <div>
       
        <button  mat-raised-button color="primary" (click)="logisticRegression('xgboot')">XGBoost</button>
    </div>
</div> -->
<br>
<app-plotlydiagram  [data]="data"></app-plotlydiagram>